body {
  font-family: sans-serif; background: #111; color: #fff; font-size:13px;
  overflow-y: auto;
}

.button {
  margin: 2px;
  background: #222;
  color: #aaa;
  border: 1px solid #555;
  padding: 5px 10px;
  cursor: pointer;
}
.button:hover {
  background: #555;
}
.ctl-btn {
  font-size: 14px;
}
input[type="range"] {
  width: 200px;
}
select {
  width: 50px;
  height: 30px;
  background: #222;
  color: #aaa;
}
input[type="radio"] {
  margin: 0 3px 0 0;
}
.radio-label {
  display: flex;
  cursor: pointer;
  margin-bottom: 1px;
}
.radio-span {
  color: #aaa;
}



#Sequence {
  display: flex; margin: 10px 0;
}
.header {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  height: 100px; margin: 2px;
}
.scaleOption {
  display: flex; gap: 2px;
}
.keyOption {
  display: grid;
  grid-template-columns:repeat(6, 1fr);
  gap: 2px;
}
.trackStep {
  display: flex;
}
.step-slide {
  height: 24px;
  margin: 2px;
  gap: 2px;
  display: flex;
  align-items: center;
}
.step {
  width: 24px;
  height: 24px;
  margin: 2px;
  display: flex;
  align-items: center;
  background: #333;
  cursor: pointer;
}
.step.active { background: #00ff00; }
.step.playing { outline: 2px solid yellow; }



.group-end {
  margin-bottom: 12px;
}

.playing {
  background: #044;
  color: #0ff;
}
